<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>memberV2</display-name>
  
  <resource-ref>
  		<res-ref-name>jdbc/gb2</res-ref-name>
  		<res-type>javax.sql.DataSource</res-type>
  		<res-auth>Container</res-auth>
  </resource-ref>
  
  <welcome-file-list>
    <welcome-file>main.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <session-config>
    <session-timeout>3</session-timeout>
  </session-config>
  
  
  	
  
</web-app>
<!-- web.xml 은 웹컨테이너 톰캣이 애플리케이션 실행과
	관련된 설정을 하는 파일.
	welcome-file-list 태그는 context (프로젝트 이름)으로
	url 이 요청될 때 기본으로 보이는 웹페이지 지정
-->